@font-face {

  font-family: "Open sans Regular";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {

  font-family: "Open sans Bold";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}